<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Hemocomponentes</h3>
        </div>
    </div>

    <!--<div class="row">
        <div class="col-sm-12">
            <button class="btn btn-primary" routerLink="/cadastrar-hemocomponentes">Cadastrar</button>
        </div>
    </div>-->

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-responsive">
                <thead>
                  <tr>
                    <th scope="col">Nº</th>
                    <th scope="col">Registro</th>
                    <th scope="col">Data</th>
                    <th scope="col">Nº bolsa</th>
                    <th scope="col">Apta</th>
                    <th scope="col">Volume</th>
                    <th scope="col">Visualizar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of data; let i = index;">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.registro}}</td>
                    <td>{{item.data | date: 'dd/MM/yyyy'}}</td>
                    <td>{{item.numeroDaBolsa}}</td>
                    <td>{{item.situacaoDaBolsa}}</td>
                    <td>{{item.volume}}</td>
                    <td><i class="bi bi-eye-fill" (click)="callEdit(item, i)"></i></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" >Anterior</a></li>
                  <li class="page-item"><a class="page-link" >1</a></li>
                  <li class="page-item"><a class="page-link" >2</a></li>
                  <li class="page-item"><a class="page-link" >3</a></li>
                  <li class="page-item"><a class="page-link" >Próximo</a></li>
                </ul>
              </nav>
        </div>
    </div>

</div>