.myNavbar
{
    position: relative;
    display: block;
    height: 40px;
    width: 100%;
    background: #4d982c;
}

.myNavbar ul
{
    list-style: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.myNavbar ul li 
{
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.myNavbar ul li:last-child
{
    text-decoration: underline;
}
